<Iftt as |IFTT|>
  {{#if IFTT.eventPicker}}
    <td class="automation-title-container">
      <EventPicker
      @selectedEvent={{@rule.event}}
      @onEventSelected={{mut @rule.event}}
      @eventsHash={{@eventsHash}}
      />
    </td>
  {{/if}}
  {{#if (and IFTT.action @rule.event)}}
    {{#let (better-get @eventsHash @rule.event) as |eventDetails|}}
      {{#let (find-by eventDetails.actions "key" @rule.rules.action) as |selectedAction|}}
        <PowerSelectBlockless
          @options={{eventDetails.actions}}
          @selected={{selectedAction}}
          @labelPath="label"
          @onchange={{action "actionSelected"}}
          class="ember-basic-dropdown"
        />
        {{component
          selectedAction.editor
          target=@target
          onUpdated=(action "onDataUpdated")
          data=@rule.rules.data
        }}
      {{/let}}
    {{/let}}
  {{/if}}
  {{#if (and @rule.event IFTT.comparator)}}
    {{#each @rule.conditions as |condition|}}
      <Comparator
        @propertyDetails={{@properties}}
        @comparatorLayout="workflow-comparator-template"
        @property={{condition.property}}
        @comparator={{condition.comparator}}
        @onPropertyChange={{action (mut condition.property)}}
        @onComparatorChange={{action (mut condition.comparator) value="key"}}
      as |comparator|>
        {{#if (eq comparator.component 'text') }}
          <input value={{condition.value}} onchange={{action (mut condition.value) value="target.value"}}>
        {{/if}}
        {{#if (eq comparator.component 'association') }}
          association
        {{/if}}
      </Comparator>
    {{/each}}
  {{/if}}
</Iftt>
