<Iftt as |IFTT|>
  {{#if IFTT.eventPicker}}
    <td class="automation-title-container">
      <EventPicker
      @selectedEvent={{@rule.event}}
      @onEventSelected={{mut @rule.event}}
      @eventsHash={{@eventsHash}}
      />
    </td>
  {{/if}}
  {{#if (and IFTT.action @rule.event)}}
    {{#let (better-get @eventsHash @rule.event) as |selectedEventObject|}}
      {{#let (find-by selectedEventObject.actions "key" @rule.rules.action) as |selectedAction|}}
        <ActionPicker
          @selectedAction={{selectedAction}}
          @availableActions={{selectedEventObject.actions}}
          @onActionSelected={{action "actionSelected"}}
          @eventsHash={{@eventsHash}}
        as |ActionEditor| >
          <ActionEditor
            @onActionDataUpdated={{action "actionDataUpdated"}}
            @data={{@rule.rules.data}}
            @target={{@target}}
          />
        </ActionPicker>
      {{/let}}
    {{/let}}
  {{/if}}
  {{#if (and @rule.event IFTT.comparator)}}
    {{#each @rule.conditions as |condition|}}
      <Comparator
        @propertyDetails={{@properties}}
        @comparatorLayout="workflow-comparator-template"
        @property={{condition.property}}
        @comparator={{condition.comparator}}
        @onPropertyChange={{action (mut condition.property)}}
        @onComparatorChange={{action (mut condition.comparator) value="key"}}
      as |comparator|>
        {{#if (eq comparator.component 'text') }}
          <input value={{condition.value}} onchange={{action (mut condition.value) value="target.value"}}>
        {{/if}}
        {{#if (eq comparator.component 'association') }}
          association
        {{/if}}
      </Comparator>
    {{/each}}
  {{/if}}
</Iftt>
