<Iftt as |IFTT|>
  {{#if IFTT.eventPicker}}
    <td class="automation-title-container">
      <BasicDropdown as |Dropdown|>
        <Dropdown.trigger>
          <h4 class="automation-title">
            {{@rule.event}} {{fa-icon "caret-down"}}
          </h4>
        </Dropdown.trigger>
        <Dropdown.content>
          {{#each (object-keys @eventsHash) as |event|}}
            <div class="automation-text-select">
              <h4 class="automation-title" role="button" {{action (mut @rule.event) event}}>
                {{event}}
              </h4>
            </div>
          {{/each}}
        </Dropdown.content>
      </BasicDropdown>
    </td>
  {{/if}}
  {{#if (and IFTT.action @rule.event)}}
    {{#let (better-get @eventsHash @rule.event) as |eventDetails|}}
      {{#let (find-by eventDetails.actions "key" @rule.rules.action) as |selectedAction|}}
        <PowerSelectBlockless
          @options={{eventDetails.actions}}
          @selected={{selectedAction}}
          @labelPath="label"
          @onchange={{action "actionSelected"}}
          class="ember-basic-dropdown"
        />
        {{component selectedAction.editor labels=@labels onUpdated=(action "onDataUpdated") data=@rule.rules.data}}
      {{/let}}
    {{/let}}
  {{/if}}
  {{#if (and @rule.event IFTT.comparator)}}
    {{#let
      (hash
        labels=(hash
        kind="hasMany"
        editorComponent=(component
            "power-select-multiple-blockless"
            options=@labels
            labelPath="name"
          )
        )
        owner=(hash
          kind="string"
          editorComponent=( component "icon-text" text="asdasd" )
        )
      )
    as |properties|}}
      {{#each @rule.conditions as |condition|}}
        <Comparator
          @properties={{object-keys properties}}
          @propertyDetails={{properties}}
          @comparatorLayout="workflow-comparator-template"
          @property={{condition.property}}
          @comparator={{condition.comparator}}
          @onPropertyChange={{action (mut condition.property)}}
          @onComparatorChange={{action (mut condition.comparator)}}
        as |ConditionEditor|>
          <ConditionEditor
            @selected={{condition.value}}
            @onchange={{action (mut condition.value)}}
          />
        </Comparator>
      {{/each}}
    {{/let}}
  {{/if}}
</Iftt>
