{{#if this.isEditing}}
  <div class="table-filters-title-bar">
    <div class="table-filters__message">
      Filter Name: {{input value=@selectedFilter.name}}
    </div>
    <div class="table-filters__buttons">
      <Power-button @action={{@save}} @text="save changes" />
      <Power-button @action={{@cance}} @text="cancel" />
    </div>
  </div>

  <p class="table-filters__message">
    select one or more filters
  </p>
  {{#each-in @selectedFilter.filters as |id value|}}
    <Filters-filter-edit-row
      @filter={{hash id=id value=value}}
      @filterTemplate={{better-get @filterTypes id}}
      @deleteFilter={{action @deleteFilter (hash id=id value=value)}}
      @filterUpdated={{action @filterUpdated id}}
    />
  {{/each-in}}

  <div class="table-filter_filter-row">
    {{#if this.filteredFilterTypes.length}}
      <Power-select
        @options={{this.filteredFilterTypes}}
        @renderInPlace=true
        @selected={{this.selected}}
        @searchEnabled=false
        @onchange={{@filterAdded}}
        @placeholder="Select a filter"
      as |filterType|
      >
        {{filterType.title}}
      </Power-select>
    {{else}}
      <p class="table-filters__message"> All filters selected </p>
    {{/if}}
  </div>
{{else}}
  <div class="table-filters-title-bar">
    <div class="table-filters__buttons">
      <Power-button @action={{@edit}} @text="Edit Filter" />
    </div>
  </div>
  <div class="table-filter_filter-row">
    {{#each-in @selectedFilter.filters as |id value|}}
      <Filters-filter-display-row
        @filter={{hash id=id value=value}}
        @filterTemplate={{better-get @filterTypes id}}
      />
    {{/each-in}}
  </div>
{{/if}}
