{{#if isEditing}}
  <div class="table-filters-title-bar">
    <div class="table-filters__message">
      Filter Name: {{input value=selectedFilter.name}}
    </div>
    <div class="table-filters__buttons">
      {{power-button action=save text="save changes"}}
      {{power-button action=cancel text="cancel"}}
    </div>
  </div>

  <p class="table-filters__message">
    select one or more filters
  </p>

  {{#each filters as |filter|}}
    {{filters-filter-edit-row
      filter=filter
      deleteFilter=(action 'deleteFilter' filter)
      filterUpdated=(action 'filterUpdated')
    }}
  {{/each}}

  <div class="table-filter_filter-row">
    {{#if filteredFilterTypes.length}}
      {{#power-select
        options=filteredFilterTypes
        renderInPlace=true
        selected=selected
        searchEnabled=false
        onchange=(action "filterSelected")
        placeholder="Select a filter" as |filterType|
      }}
        {{filterType.title}}
      {{/power-select}}
    {{else}}
      <p class="table-filters__message"> All filters selected </p>
    {{/if}}
  </div>
{{else}}
  <div class="table-filters-title-bar">
    <div class="table-filters__buttons">
      {{power-button action=edit text="Edit Filter"}}
    </div>
  </div>
  <div class="table-filter_filter-row">
    {{#each filters as |filter|}}
      {{filters-filter-display-row filter=filter}}
    {{/each}}
  </div>
{{/if}}
