<div class="table-filters__saveBar">
  {{power-button action=save text="save changes"}}
  {{power-button action=cancel text="cancel"}}
</div>
<p class="table-filters__message">select one or more filters </p>

{{#each filters as |filter|}}
  {{filters-filter-row filter=filter deleteFilter=(action 'deleteFilter' filter) filterUpdated=(action 'filterUpdated')}}
{{/each}}

<div class="row">
  <div class="col-md-3">
    {{#if filteredFilterTypes.length}}
      {{#power-select options=filteredFilterTypes renderInPlace=true selected=selected searchEnabled=false
                      onchange=(action "filterSelected") placeholder="Select a filter" as |filterType|}}
        {{filterType.title}}
      {{/power-select}}
    {{else}}
      <p class="table-filters__message"> All filters selected </p>
    {{/if}}
  </div>
</div>
