<h2>Slack Notifications</h2>
<p> automatically post pull requests matching a prebuilt filter (usefull if you want to show stale pr"s to the team for example)</p>
<RowForm>
  <RowField @label="Filter">
    <PowerSelectBlockless
      @options={{@filters}}
      @labelPath="name"
      @selected={{this.notification.filter}}
      @onchange={{action (mut this.notification.filter)}}
      class="ember-basic-dropdown"
    />
  </RowField>

  <RowField @label="Time">
    <PowerSelectBlockless
      @options={{this.times}}
      @selected={{this.notification.time}}
      @onchange={{action (mut this.notification.time)}}
      class="ember-basic-dropdown"
    />
  </RowField>

  <RowField @label="Type">
    <PowerSelectBlockless
      @options={{this.types}}
      @selected={{this.notification.type}}
      @onchange={{action (mut this.notification.type)}}
      class="ember-basic-dropdown"
    />
  </RowField>

  <RowField @label="Channel">
    <input
      value={{this.notification.channel}}
      type="text"
      oninput={{action (mut this.notification.channel) value="target.value"}}
    >
  </RowField>
</RowForm>
<PowerButton @text="Add" @action={{action "addFilterNotifcation"}} />
