{{#each steps as | step index|}}
  {{#if hasBlock}}
    {{yield (hash component=(component 'workflow-builder-step-conditional' stepCollection=steps stepType="if"
      options=options labelPath=labelPath attributeLabelPath='key'
      stepChanged=(action "changedStep" index)))}}
  {{else}}
    {{workflow-builder-step-conditional stepCollection=steps stepType="if"
      options=options labelPath=labelPath attributeLabelPath='key'
      stepChanged=(action "changedStep" index) }}
  {{/if}}
{{/each}}
{{#if hasBlock}}
  {{!yield}}
{{/if}}
{{#if steps.length}}
  <span role="button" {{action "addStep"}}>{{fa-icon "plus"}} and</span>
{{else}}
  <span role="button" {{action "addStep"}}>{{fa-icon "plus"}} {{actionText}}</span>
{{/if}}
