<div>
  Name: <input value={{@workflow.name}} type="text" oninput={{action (mut @workflow.name) value="target.value"}}>
  <Button @action={{action "addRule"}} @text="new rule"/>
</div>
<div>
  Selected Repos:
  <PowerSelectMultiple
    @selected={{@workflow.repos}}
    @options={{@organisation.repos}}
    @onchange={{action (mut @workflow.repos)}}
    @palceholder="Select repos"
    as |repo|
  >
    {{repo.name}}
  </PowerSelectMultiple>
</div>
{{#if @target}}
  {{#each @workflow.rules as |rule|}}
    <AutomationBuilder @action={{rule}} @target={{@target}}/>
  {{/each}}
  <Button @action={{action "saveWorkflow" @workflow}} @text="save" />
{{/if}}
