<div>
  Name: <input value={{@workflow.name}} type="text" oninput={{action (mut @workflow.name) value="target.value"}}>
  <PowerButton @action={{action "addRule"}} @text="new rule"/>
</div>
<div>
  Selected Repos:
  <PowerSelectMultiple
    @selected={{@workflow.repos}}
    @options={{@organisation.repos}}
    @onChange={{action (mut @workflow.repos)}}
    @palceholder="Select repos"
    as |repo|
  >
    {{repo.name}}
  </PowerSelectMultiple>
</div>
{{#if @target}}
  {{#each @workflow.rules as |rule|}}
    <AutomationBuilderIftt
      @eventsHash={{this.automation.eventHash}}
      @properties={{this.automation.properties}}
      @rule={{rule}}
      @target={{@target}}
    />
  {{/each}}
  <PowerButton @action={{action "saveWorkflow" @workflow}} @text="save" />
{{/if}}
