{{#workflow-builder-layout as |rows|}}
  {{#rows.first}}
    <span>{{stepType}}: </span>
  {{/rows.first}}
  {{#rows.second}}
    {{workflow-builder-simple-select
      options=options
      renderInPlace=true
      selected=_step
      onchange=(action "changeStep")
      path=labelPath
    }}
  {{/rows.second}}
  {{#if editorName }}
    {{store-handlebars-object this 'editorComponent'
      (component (concat 'workflow-builder-editor-' editorName) stepDataChanged=(action 'stepDataChanged') stepData=_stepData)
    }}
  {{/if}}
  {{#if hasBlock}}
    {{#if editorName}}
      {{yield (hash rows=rows editorComponent=editorComponent step=_step)}}
    {{else}}
      {{yield (hash rows=rows step=_step)}}
    {{/if}}
  {{else}}
    {{#rows.third}}
      {{component editorComponent}}
    {{/rows.third}}
  {{/if}}
{{/workflow-builder-layout}}
