<div class="nav-wrapper" style="width:300px;position:fixed">
  {{#unless failed}}
    <nav class="nav flex-column sidebar">
      <a class="nav-link email">
        <span class="name">MangerBot</span><br>
        {{!user.email}}
      </a>
      {{#link-to "install" classNames="nav-link"}}
        <i class="fa fa-cog"></i>Install
      {{/link-to}}
      {{#each model as |repo|}}
        {{#link-to  "repo.stats" repo.id classNames="nav-link"}}
          <i class="fa fa-file-code-o"></i>{{repo.name}}
        {{/link-to}}
      {{/each}}
    </nav>
  {{/unless}}
</div>
<div class="content-wrapper">
  {{#if fixedHeader.title}}
    <ol class="fixed-header">
      <li style="float:left"><h1>{{fixedHeader.title}}</h1></li>
      <li style="float:right">
        {{log fixedHeader.controlsPath}}
        {{component fixedHeader.controlsPath model=fixedHeader.controlsParams}}
      </li>
      <li style="clear:both"></li>
    </ol>
  {{/if}}
  <div class="{{if fixedHeader.title 'has-fixed-header' 'no-fixed-header'}} container">
    {{outlet}}
  </div>
</div>
