{{#each repo.rules as |rule|}}
  {{rule-mapper rule=rule labels=repo.labels states=repo.states}}
{{/each}}




{{!-- {{state-mapper labels=repo.labels states=repo.states save=saveLabels}} --}}
<h2>Hooks</h2>
<button type="button" class="btn btn-primary" {{action 'resolveHook' repo}}>
  {{#unless resolveHook.isIdle}} Processing {{/unless}}
  {{#unless repo.hook_id}}
    Install Hook
  {{else}}
    Uninstall Hook
  {{/unless}}
</button>
{{outlet}}
