<h2>Members</h2>
<BaseTable @columns={{this.columns}} @sorts={{this.sorts}} @rows={{this.repo.members}} as |t| >
  No members found
</BaseTable>

<RowField @label="Add Member">
  {{input value=this.newMember}}
  {{power-button text="save" action=(action "addMember")}}
</RowField>
