<h2>Members</h2>
<BaseTable @columns={{columns}} @sorts={{sorts}} @rows={{this.repo.members}} as |t| >
  No members found
</BaseTable>

<RowField @label="Add Member">
  {{input value=newMember}}
  {{power-button text="save" action=(action "addMember")}}
</RowField>
