<h2>Slack</h2>

<div class="input-group">
  <div class="input-group-addon">
    Slack Org
  </div>
  <div class="form-control">
    {{#power-select options=slackOrgs renderInPlace=true selected=model.slackOrganization onchange=(action "setSlackOrg") as |label|}}
      {{label.name}}
    {{/power-select}}
  </div>
  <div class="input-group-addon">
    <a href="/api/auth/slack" class="btn btn-primary"> Link new slack organisation </a>
  </div>
</div>
<div class="input-group">
  <div class="input-group-addon">
    Channel
  </div>
  {{input value=model.slackChannel classNames="form-control"}}
</div>
{{power-button text="save" task=saveSlack}}


{{slack-notifications-builder filters=filters addedFilterNotification=(action "addFilterNotifcation")}}
{{tables/slack-notifications-table model=slackNotifications filters=filters}}
