{{#if (not this.unAuthenticated)}}
  <div class="managerbot">
    {{log model}}
    <AppHeader @organisation={{model}} />
    <main>
      <RouteHeader @fixedHeader={{this.fixedHeader}} />
      <article class="route-outlet">
        {{outlet}}
      </article>
    </main>
  </div>
{{else}}
  <div class="authentication-outlet">
    <div class="authentication-container">
      <AppLogo />
      {{outlet}}
    </div>
  </div>
{{/if}}
