<div class="nav-wrapper" style="width:300px;position:fixed">
  {{#unless failed}}
    <nav class="nav flex-column sidebar">
      <span class="logo-container">
        <img src="manager-bot-logo.svg">
      </span>
      {{#link-to "install" classNames="nav-link"}}
        <i class="fa fa-cog"></i>Install
      {{/link-to}}
      {{#each model as |repo|}}
        {{#link-to  "repo.stats" repo.id classNames="nav-link"}}
          <i class="fa fa-file-code-o"></i>{{repo.name}}
        {{/link-to}}
      {{/each}}
    </nav>
  {{/unless}}
</div>
<div class="content-wrapper">
  <ol class="fixed-header">
    <li style="float:left">{{fa-icon "fa-address-card"}} <span>Guten Morgen: </span><span>{{user.github_user}}</span></li>
    <li style="float:right">
      logout
      {{!component fixedHeader.controlsPath model=fixedHeader.controlsParams}}
    </li>
    <li style="clear:both"></li>
  </ol>
  <div class="{{if fixedHeader.title 'has-fixed-header' 'no-fixed-header'}} container">
    {{outlet}}
  </div>
</div>
