<div class="nav-wrapper" style="width:300px;position:fixed">
  {{#unless failed}}
    <nav class="nav flex-column sidebar">
      <span class="logo-container">
        <img src="manager-bot-logo.svg">
      </span>
      {{#link-to "install" classNames="nav-link"}}
        <i class="fa fa-cog"></i>Install
      {{/link-to}}
      {{#each model as |repo|}}
        {{#link-to  "repo.stats" repo.id classNames="nav-link"}}
          <i class="fa fa-file-code-o"></i>{{repo.name}}
        {{/link-to}}
      {{/each}}
    </nav>
  {{/unless}}
</div>
<div class="content-wrapper">
  <ol class="main-header">
    <li>{{fa-icon "fa-address-card"}} <span>Guten Morgen: </span><span>{{user.github_user}}</span></li>
    <li>logout</li>
    <li style="clear:both"></li>

  </ol>
  <div class="fixed-header">
    <div style="border-bottom: 1px solid;padding-bottom: 5px;">
      <span> {{fa-icon "home"}} </span>
      {{component fixedHeader.controlsPath tagName="span" model=fixedHeader.controlsParams}}
    </div>
  </div>
  <div class="container content">
    {{outlet}}
  </div>
</div>
