{{#unless unAuthenticated}}
<div class="managerbot">
  <aside class="sidebar-wrapper">
    {{app-logo}}
    {{app-navigation repos=model}}
  </aside>
  {{app-header}}
  <main>
    {{route-header fixedHeader=fixedHeader}}
    <article class="route-outlet">
      {{outlet}}
    </article>
  </main>
</div>
{{else}}
<div class="authentication-outlet" style="display:none">
  <div class="authentication-container">
    {{app-logo}}
    {{outlet}}
  </div>
</div>
{{/unless}}
