{{repos}}
<div>
  <h2 style="display:inline-block">Install repo</h2>
  <div class="input-group">
    {{#unless installRepo.isRunning}}
      {{#if loadAvaliableRepos.isIdle}}
        <div class="form-control">
          {{#power-select options=availableRepos renderInPlace=true selected=selectedRepo onchange=(action "selectedRepo") as |name|}}
            {{name}}
          {{/power-select}}
        </div>
        <div class="input-group-btn">
          <button type="button" class="btn btn-primary" {{action "installRepo"}}>Install</button>
        </div>
      {{else}}
        <span> Loading available repos .... </span>
      {{/if}}
    {{else}}
    <span>Busy installing <b>{{selectedRepo}}</b> please wait ....</span>
    {{/unless}}
  </div>
</div>
{{!-- <div style="margin-top:50px;">
<h2>Installed Repos: {{model.length}}</h2>
{{#each model as |repo|}}
  {{#link-to "repo" repo.id}}{{repo.name}}{{/link-to}}
  <br />
{{/each}}
</div> --}}
{{outlet}}
