<h1>Pull Requests</h1>
{{status}}
{{pr-stats name="revision" labels=labels pullRequests=model}}
{{pr-stats name="review" labels=labels pullRequests=model}}
{{pr-stats name="hold" labels=labels pullRequests=model}}
{{pr-stats name="complete" labels=labels pullRequests=model}}
{{!-- moment-to-now "DD" pr.updated_at hidePrefix=true --}}
